# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variable files
.env

# Firebase cache directory
.firebase/

# Cypress artifacts
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Cypress folders
cypress/e2e/1-getting-started/
cypress/e2e/2-advanced-examples/
